cssselect2==0.6.0
decouple==0.0.7
dj-database-url==1.0.0
Django==4.0
django-filter==22.1
django-restframework==0.0.1
django-userforeignkey==0.4.0
djangorestframework==3.13.1
gunicorn==20.1.0
html5lib==1.1
lxml==4.9.1
Pillow==9.2.0
PyPDF3==1.0.6
python-bidi==0.4.2
python-decouple==3.6
pytz==2022.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
reportlab==3.6.11
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
StringGenerator==0.4.4
svglib==1.4.1
tinycss2==1.1.1
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
uritools==4.0.0
urllib3==1.26.11
webencodings==0.5.1
whitenoise==6.2.0
xhtml2pdf==0.2.8

