{% extends 'padre/base.html' %} 
{% block page_content %} 

<div class="row">
  <div class="col-md-12">
    <div class="card py-4 px-3"> 
      <div class="">
        {% for item in proveedor %}
        <div class="row">
          <div class="col-md-12 mb-2">
            <span class="name mt-3 fs-4">Razon Social: {{ item.razon_social }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <span class="idd fs-5">RIF / C.I.: {{ item.rif }}</span> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <span class="idd1 fs-5">Direccion Principal: {{ item.direccion }}</span> 
          </div>
        </div>
        {% if item.direccion2 == None %}
        {% else %}
        <div class="row">
          <div class="col-md-12 mb-2">
            <span class="idd1 fs-5">Direccion Secundaria:{{ item.direccion2 }}</span>  
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12">
            <div class="date fs-5"> <span class="join">Registrado: {{ item.fc|date:"d/m/Y" }}</span></div>  
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-4">
            <a class="btn btn-primary btn-circle" title="Imprimir historial" href="{% url 'compra:imprimir_general_proveedor' item.id%}" target="reportes">
              Imprimir historial
            </a>  
          </div>
        </div>
        
        <div class="text mt-3"> 
          <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-toolbar=".buttons-toolbar" data-locale="es-MX" data-sort-order="desc">
            <thead>
                <tr>
                    <th>No. Factura</th>
                    <th>Proveedor</th>
                    <th>Observacion</th>
                    <th>Fecha</th>
                    <th>Gastos Adic</th>
                    <th>Total</th>
                    <th>Pagado</th>
                    <th>Imprimir</th>
                </tr>
            </thead>
            <tbody>
                {% for item2 in enc %}
                <tr>
                    <td>{{ item2.no_factura }}</td>
                    <td>{{ item2.proveedor }}</td>
                    <td>{{ item2.observacion }}</td>
                    <td>{{ item2.fecha_factura | date:"d/m/Y" }}</td>
                    <td>{{ item2.descuento|floatformat:2 }}$</td>
                    <td>{{ item2.total|floatformat:2 }}$</td>
                    <td>{% if item2.pagado %}
                    <i class="fa fa-circle-check text-success"></i>
                    {% else %}
                      <i class="fa fa-circle-xmark text-danger"></i>
                    {% endif %}</td>
                    <td><a
                      class="btn btn-sm btn-success btn-circle"
                      title="Imprimir"
                      href="{% url 'compra:imprimir_factura_compra' item2.id%}"
                      target="reportes"
                      ><i class="fas fa-print"></i
                    ></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
            {% endfor %}
          </div> 
        </div>
    </div>
  </div>
</div>
          
 {% endblock %}
