{% extends 'padre/base.html' %}

{% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Proveedores.</h6>

  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class='buttons-toolbar'>
      <a class="btn btn-primary mb-3" onclick="return abrir_modal('{% url 'compra:nuevo_proveedor' %}')" href="#"><i class="fa-solid fa-circle-plus"></i> Nuevo</a>
    </div>
    {% if not obj %}
    <div class="alert alert-info">No Hay Proveedores Registrados</div>
    {% else %}
    
    <table 
    id="table"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-toolbar=".buttons-toolbar"
    data-locale="es-MX"
  >
      <thead align="center">
        <th data-field='id'>Id</th>        
        <th data-field='razon_social'>Razon Social</th>
        <th data-field='tipo'>Tipo</th>
        <th data-field='rif'>Rif</th>
        <th data-field='direccion'>Dirección</th>
        <th data-field='telefono'>Teléfono</th>
        <th data-field='email'>E-mail</th>
        <th data-field='estado'>Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody align="center">
        {% for item in obj%}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.razon_social }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.rif }}</td>
          <td>{{item.direccion}}</td>
          <td>{{ item.telefono }}</td>
          <td>{{ item.email }}</td>
          <td >{#item.estado|yesno:"Activo,Inactivo"#}
            <div onclick="inactivar({{item.id}})">
                {% if item.estado %}
                <i class="far fa-thumbs-up text-primary"></i>
              {% else %}
                <i class="far fa-thumbs-down text-danger"></i>
              {% endif %}
            </div>
          </td>
          <td>
            <button class="btn btn-warning btn-circle" onclick="return abrir_modal('{% url 'compra:editar_proveedor' item.id %}')"><i class="far fa-edit"></i></button>
            </button>
            
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block js_page %}
<script>
  function inactivar(id)
  {
    var data = {id:id};
    data = JSON.stringify(data);
    var token = '{{csrf_token}}';
    // alert(token);
    // alert(id);
    
    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:"/compra/proveedores/estado/"+id,
      data: data,
      success: function(response){
        if(response==="OK")
        {
          location.reload(true);
        }
        else{
          mensaje("Error Intentado Cambiar Estado al Proveedor");
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        mensaje(errorThrow,'red');
        cerrar_modal();
      }
    });
  }
  </script>
{% endblock %}