{% extends 'padre/base.html'%}
{% block page_content %}
    <form method="post" id="frmCompras">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if encabezado %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if encabezado %} Editar {% else %} Nueva {% endif %} Compra
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                      <div class="row">
                                        {% if encabezado.proveedor %}
                                        <div class="col-md-6 mb-3">
                                          <label class="form-label">Proveedor:</label>
                                          <input type="text"  name="enc_proveedor" id="enc_proveedor" value="{{encabezado.proveedor.rif}}-{{encabezado.proveedor}}" readonly class="form-control" />
                                        </div>
                                        {% else %}
                                        <div class="col-md-5 mb-3">
                                          <label class="form-label">Proveedor:</label>
                                          <select name="enc_proveedor" id="enc_proveedor" class="form-select">
                                            <option value="0">Seleccione Proveedor</option>
                                            {% for item in proveedores %}
                                            <option value="{{item.id}}">
                                              {{ item.tipo }} {{ item.rif }}  {{ item.razon_social }}
                                            </option>
                                            {% endfor %}
                                          </select>
                                        </div>
                                        <div class="col-md-1 d-flex align-items-end mb-3">
                                          <button class="btn btn-outline-danger" title="Editar" id="btnEditProveedor">
                                            <i class="far fa-edit"></i>
                                          </button>
                                        </div>
                                        {% endif %}
                                        <div class="col-md-2 mb-3">
                                          <label for="id_fecha_compra" class="form-label">Fecha de Compra:</label>
                                          <input type="date" name="fecha_compra" id="fecha_compra" value="{{encabezado.fecha_compra}}"class="form-control"/>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                          <label for="id_no_factura" class="form-label">No. Factura:</label>
                                          {{form_enc.no_factura}}
                                        </div>
                                        <div class="col-md-2">
                                          <label for="id_fecha_factura" class="form-label">Fecha de Factura:</label>
                                          <input type="date" name="fecha_factura" id="fecha_factura" class="form-control"/>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <label for="id_descripcion" class="form-label">Descripción:</label>
                                          {{form_enc.observacion}}
                                        </div>
                                        <div class="col-md-2">
                                          <label for="Sub Total" class="form-label">Sub Total:</label>
                                          {{ form_enc.sub_total }}
                                        </div>
                                        <div class="col-md-2">
                                          <label for="Gastos Adicionales" class="form-label">Gastos Adic:</label>
                                          {{ form_enc.descuento }}
                                        </div>
                                        <div class="col-md-2">
                                          <label for="total" class="form-label">Total:</label>
                                          {{ form_enc.total }}
                                        </div>
                                      </div>
                                      <div class="row">
                                        
                                        <div class="col-md-12">
                                          
                                        </div>
                                      </div>
                                      <div class="dropdown-divider my-3"></div>
                                    </div>
                                    <!-- Inicio Izquierda -->
                                    <div class="col-6">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <table data-toggle="table" data-pagination="true" data-search="true" data-locale="es-MX">
                                            <thead align="center">
                                                <th>Id</th>        
                                                <th class="all">Descripción</th>
                                                <th class="all">Acciones</th>
                                            </thead>
                                            <tbody align="center">
                                                {% for item in productos %}
                                                <tr>
                                                <td>{{ item.id }}</td>
                                                <td>{{ item.descripcion }}</td>
                                                <td>
                                                    <button type="button" title="Elegir producto" class="btn btn-sm btn-primary btn-circle"
                                                    onclick="selectProducto({{item.id}},'{{item.descripcion}}')" ><i class="fa-regular fa-circle-check"></i></button>
                                                </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Fin Izquierda -->
                                    <!-- Inicio Derecha -->
                                    <div class="col-6">
                                      <div class="row">
                                        <div class="col-md-4 mb-3">
                                          <label for="id_id_producto" class="form-label">Producto</label>
                                          <input type="text" readonly class="form-control-plaintext" name="id_id_producto" id="id_id_producto" value="" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <label for="id_descripcion_producto" class="form-label">Descipcion</label>
                                          <input type="text" readonly class="form-control-plaintext" id="id_descripcion_producto" value="" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <label for="id_cantidad_detalle" class="form-label">Cant.:</label>
                                          <input type="number" class="form-control" name="id_cantidad_detalle" id="id_cantidad_detalle" value="0" min="0"step="0.01"required>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-4 mb-3">
                                          <label for="id_precio_detalle" class="form-label">Precio:</label>
                                          <input type="number" class="form-control" name="id_precio_detalle" id="id_precio_detalle" value="0" min="0"step="0.001"required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <label for="id_descuento_detalle" class="form-label">Gastos Adic:</label>
                                          <input type="number" class="form-control" name="id_descuento_detalle" id="id_descuento_detalle" value="0" min="0"step="0.01"required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <label for="id_sub_total_detalle" class="form-label">S. Total:</label>
                                          <input type="text" readonly class="form-control-plaintext" name="id_sub_total_detalle" id="id_sub_total_detalle" value="0">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <label for="id_total_detalle" class="form-label">Total:</label>
                                          <input type="text" readonly class="form-control-plaintext" name="id_total_detalle" id="id_total_detalle" value="0">
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Fin Derecha -->
                                    <div class="dropdown-divider my-3"></div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12 my-3 d-flex justify-content-center">

                                    <button type="submit" class="btn btn-primary mx-2">
                                      <span class="fa fa-plus"></span> Agregar
                                    </button>

                                    <a href="{% url 'compra:lista_compras' %}" class="btn btn-success mx-2">
                                      <i class="fa-solid fa-save"></i> Guardar
                                    </a>

                                    <button type="button" class="btn btn-default mx-2" onclick="clear_Detail();">
                                      <span class="fa fa-broom"></span> Limpiar
                                    </button>
                                  </div>
                                </div>
                                <!-- Inicio Detalle -->
                                <div class="row">
                                    <div class="col">
                                        <table data-toggle="table" data-pagination="true" data-search="true" data-locale="es-MX">
                                            <thead align="center">
                                                <th>Producto</th>        
                                                <th>Cantidad</th>
                                                <th>Sub Total</th>
                                                <th>Total</th>
                                                <th class="all">Acciones</th>
                                            </thead>
                                            <tbody align="center">
                                                {% for item in detalle %}
                                                <tr>
                                                <td>{{ item.producto }}</td>
                                                <td>{{ item.cantidad }}kg</td>
                                                <td>{{ item.sub_total }}$</td>
                                                <td>{{ item.total }}$</td>
                                                <td>
                                                    <button class="btn btn-sm btn-danger btn-circle" title="Eliminar" onclick="return abrir_modal('{% url 'compra:eliminar_compra' encabezado.pk item.id %}')"><i class="fas fa-trash-alt"></i></button>
                                                </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- Fin Detalle -->
                            </div>
                        </div>
                </div>
                
        </div>
    </form>
{% endblock %}
{% block js_page %}
<script>
    $(function () {
        $('#id_cantidad_detalle,#id_precio_detalle,#id_descuento_detalle').change(function(){
            calcular_detalle();
        });
        $("#btnEditProveedor").click(function(e){
          e.preventDefault();
          var idProveedor = $("#enc_proveedor").val();
          var url;
          if(idProveedor===null || idProveedor===undefined || idProveedor==0){
      
              url = "{% url 'compra:nuevo_proveedor' %}" 
          }else{
              url = "/compra/proveedores/edit/" + idProveedor;
          }
          abrir_modal(url);
          var token = '{{csrf_token}}';
        }); 
        $('#enc_proveedor').select2({
          placeholder: "Seleccione el Proveedor",
          allowClear: true
        });

        /*Validar Envío de Detalle */
        $("#frmCompras").submit(function(e){

            var  no_fact = $("#id_no_factura").val();
            console.log(no_fact);
            
            if(no_fact.trim()==""){
                e.preventDefault()
                $.alert({
                        type:'red',
                        title:'',
                        content:'Debe Especificar No. de Factura'
                        });
                return false;
            }


            if($("#fecha_compra").val()=="" || $("#fecha_factura").val()==""){
                e.preventDefault()
                $.alert({
                        type:'red',
                        title:'',
                        content:'Debe Especificar Fecha'
                        });
                return false;
            }

            if($('#id_total_detalle').val()==0 || $('#id_id_producto').val()=="" ){
                e.preventDefault();
                $.alert({
                        type:'red',
                        title:'',
                        content:'No ha agregado producto'
                        })
            }
            if($('#enc_proveedor').val()==0 ){
              e.preventDefault();
              $.alert({
                      type:'red',
                      title:'',
                      content:'No ha agregado proveedor'
                      })
           }
        });
        /*Fin Validar Envío de Detalle */

    });

    function selectProducto(id,descripcion)
    {
        $("#id_cantidad_detalle").val(0);
        $('#id_precio_detalle').val(0);
        $('#id_sub_total_detalle').val(0);
        $('#id_descuento_detalle').val(0);
        $('#id_total_detalle').val(0);
        $("#id_id_producto").val(+id);
        $('#id_descripcion_producto').val(descripcion);
        $('#id_cantidad_detalle').focus();
        $('#id_cantidad_detalle').select();
    }

    function calcular_detalle()
    {
        var cant,prec,stotal,total;

        cant = $("#id_cantidad_detalle").val();
        cant = cant==="" ? 0 : +cant;
        cant = cant<0 ? 0 : cant;

        prec =$('#id_precio_detalle').val();
        prec = prec==="" ? 0 : +prec;
        prec = prec<0 ? 0 : prec;
        desc = $('#id_descuento_detalle').val();
        desc = desc==="" ? 0 : +desc;
        desc = desc<0 ? 0 : desc;

        desc = desc>(cant * prec) ? 0 : desc;

        stotal = cant * prec;

        total  = stotal + desc;

        $('#id_cantidad_detalle').val(cant);
        $('#id_precio_detalle').val(prec);
        $('#id_descuento_detalle').val(desc);
        $('#id_sub_total_detalle').val(stotal);
        $('#id_total_detalle').val(total);

    }

    function clear_Detail(){
        $('#id_cantidad_detalle').val(0);
        $('#id_precio_detalle').val(0);
        $('#id_sub_total_detalle').val(0);
        $('#id_descuento_detalle').val(0);
        $('#id_total_detalle').val(0);
        $('#id_id_producto').val('');
        $('#id_descripcion_producto').val('');
        $('.table').DataTable().search('').draw();
        $("#id_proveedor").focus();
    }

    $("#id_proveedor").focus();
    $("#fecha_compra").val("{{ encabezado.fecha_compra|date:'Y-m-d' }}");
    $("#fecha_factura").val("{{ encabezado.fecha_factura|date:'Y-m-d' }}");
</script>
{% endblock %}