{% extends 'padre/base.html' %} {% block page_content %}
<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div
    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
  >
    <h6 class="m-0 font-weight-bold text-primary">Listado de Compras</h6>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <input type="date" class="form-control" name="f1" id="f1">
      </div>
      <div class="col-md-4">
        <input type="date" class="form-control" name="f2" id="f2">
      </div>
      <div class="col-md-4">
        <button class="btn btn-warning" type="button" id="btnPrint">Imprimir</button>
      </div>
    </div>
    <hr>
    <div class="buttons-toolbar">
      <a class="btn btn-primary mb-3" href="{% url 'compra:nueva_compra'%}">
        <i class="fa-solid fa-circle-plus"></i> Nueva
        </a>
    </div>

    {% if not obj %}
    <div class="alert alert-info">No hay compras</div>
    {% else %}
    <table
    id="table"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-toolbar=".buttons-toolbar"
    data-locale="es-MX"
    data-sort-order="desc"
    >
      <thead align="center">
        <th data-field="no_factura">No. Factura</th>
        <th data-field="fecha_compra">Fecha</th>
        <th data-field="observacion">Observación</th>
        <th data-field="fecha_factura">F. Factura</th>
        <th data-field="sub_total">Sub Total</th>
        <th data-field="total">Total</th>
        <th data-field="estado">Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody align="center">
        {% for item in obj%}
        <tr>
          <td>{{ item.no_factura }}</td>
          <td>{{ item.fecha_compra|date:"d/m/Y"  }}</td>
          <td>{{item.observacion}}</td>
          <td>{{ item.fecha_factura|date:"d/m/Y"  }}</td>
          <td>{{ item.sub_total }}$</td>
          <td>{{ item.total }}$</td>
          <td>{{item.estado|yesno:"Activo,Inactivo"}}</td>
          <td>
            <a
              class="btn btn-warning btn-circle"
              href="{% url 'compra:editar_compra' item.id %}"
              ><i class="far fa-edit"></i
            ></a>
            <a
              class="btn btn-danger btn-circle"
              onclick="return abrir_modal('{% url 'compra:eliminar_enc' item.id %}')"
              target="reportes"
              ><i class="fas fa-trash"></i
            ></a>
            <button
              type="button"
              class="btn btn-warning btn-circle"
              onclick="pagar_factura({{ item.id }})"
            >
              <i class="fa-solid fa-money-bill"></i>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %} {% if obj2 %}
    <table
    id="table"
    data-toggle="table"
    data-pagination="true"
    data-search="true"
    data-toolbar=".buttons-toolbar"
    data-locale="es-MX"
    data-sort-order="desc"
    
    >
      <thead align="center">
        <th data-field="no_factura">No. Factura</th>
        <th data-field="fecha_factura">F. Factura</th>
        <th data-field="observacion">Observación</th>
        <th data-field="total">Total</th>
        <th data-field="metodo">Metodo de Pago.</th>
        <th data-field="monto">Monto Pagado.</th>
        <th data-field="usuario">Usuario</th>
        <th data-field="estado">Estado</th>
        <th class="all">Acciones</th>
      </thead>
      <tbody align="center">
        {% for item in obj2 %}
        <tr>
          <td>{{ item.no_factura }}</td>
          <td>{{ item.fecha_factura|date:"d/m/Y"  }}</td>
          <td>{{item.observacion}}</td>
          <td>{{ item.total }}$</td>
          <td>{{ item.tipo_pago }}</td>
          <td>{{ item.monto }}$</td>
          <td>{{ item.user_cobra }}</td>
          <td>{{item.pagado|yesno:"Pagado,No Pagado"}}</td>
          <td>
            <a
              class="btn btn-success btn-circle"
              href="{% url 'compra:imprimir_factura_compra' item.id%}"
              target="reportes"
              ><i class="fas fa-print"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %} {% block js_page %}
<script>
  $("#btnPrint").click(function(e){
    e.preventDefault();
    var f1,f2;
    f1 = $("#f1").val();
    f2 = $("#f2").val();
    if(f1=="" || f1==null){
      f1="2019-06-01";
    }
    if(f2=="" || f2==null){
      var d = new Date();
      var f2 = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
    }
    
    var url = "imprimir-todas/" + f1 + "/" + f2;

    window.open(url,'factura');
    
  });
  function pagar_factura(id) {
    // mensaje(id);
    $.confirm({
      theme: "modern",
      icon: "fas fa-dollar-sign",
      type: "green",
      title: "Pago de Factura",
      content: "url:/compra/pago_compra/" + id,
      buttons: {
        borrar: {
          text: "Pago",
          btnClass: "btn btn-success",
          action: function () {
            var metodo = this.$content.find("select#metodo");
            var monto = this.$content.find("input#monto");
            var data = { metodo: metodo.val(), monto: monto.val()  };
            console.log(data);

            var token = "{{csrf_token}}";
            $.ajax({
              headers: { "X-CSRFToken": token },
              type: "POST",
              data: data,
              url: "/compra/pago_compra/" + id,
              success: function (r) {
                console.log(r);
                if (r === "ok") {
                  location.reload(true);
                } else {
                  mensaje(r, "red");
                }
              },
              error: function (a, b, c) {
                mensaje(c);
              },
            });
          },
        },
        cancelar: function () {},
      },
    });
  }
</script>
{% endblock %}
