<label class="text-success"
  >¿Desea Pagar <b>{{det.producto.descripcion}}</b> de la factura
  <b>{{det.factura.id}}</b>?</label
>
<div>
  <div class="form-group">
    <label class="control-label">Metodo de Pago</label>
    <select name="metodo" id="metodo" class="form-control" required>
      <option value="" selected>Selecciona una Opcion </option>
      <option value="Dolar">Dolar </option>
      {% comment %} <option value="Euro" >Euro </option>
      <option value="Bolivar">Bolivar </option> {% endcomment %}
    </select>
    <label class="control-label">Monto a Pagar</label>
    <input name="monto" id="monto" class="form-control" required>
  </div>
  
</div>
