<div class="modal-dialog modal-md">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inventario:editar_gastos' obj.pk %}" enctype="multipart/form-data" >
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'inventario:nuevo_gastos' %}"  enctype="multipart/form-data" >
        {% endif %}
            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {% if obj %} Editar {% else %} Nuevos {% endif %} Gastos
                        </div>
                        <div class="dropdown-divider"></div>
                        {% csrf_token %}
                        <div class="row">
                            {#{ form.as_p }#}
                        </div>
                        <div class="row">
                                <div class="mb-3">
                                    <label class="form-label">Categoría</label>
                                    <select name="categoria" id="id_categoria" class="form-control from-control-sm">
                                        <option value="0">-------</option>
                                        {% for item in categorias %}
                                        <option value="{{item.id}}">{{item.descripcion}}</option>
                                        {% endfor%}
                                </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Sub Categoría</label>
                                        <select name="subcategoria" id="id_subcategoria" class="form-control from-control-sm">
                                        <option value="0">-------</option>
                                        {% for item in subcategorias %}
                                        <option value="{{item.id}}" data-chained="{{item.categoria.id}}">{{item.descripcion}}</option>
                                     {% endfor%}
                                </select>
                                </select>
                                </div>
                                <div class="mb-3">
                                    <label for="id_fc" class="form-label">{{form.fc.label}}</label>
                                    {{form.fc}}
                                </div>   
                                
                                <div class="mb-3">
                                    <label for="id_descripcion" class="form-label">{{form.descripcion.label}}</label>
                                    {{form.descripcion}}
                                </div>                        
                        
                            <div class="mb-3">
                                <label for="id_monto_gastos" class="form-label">{{form.monto_gastos.label}}</label>
                                {{form.monto_gastos}}
                            </div>                   
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-success"><span class="fa fa-save"></span> Guardar</button>
                                
                                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#id_fc").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });
        $("#id_categoria").val("{{ obj.subcategoria.categoria.id }}").change();
        $("#id_subcategoria").val("{{ obj.subcategoria.id }}").change();
        $("#id_subcategoria").chained("#id_categoria");
    });
</script>