h{% extends 'padre/base.html' %} 
{% if user.is_authenticated %}
{% block page_content %} 
    
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
              <div class="card-header">
                <h1 class="card-title text-center">
                    Perfil
                </h1>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h2 class="nombre">{{ nombre }} {{ apellido }}
                    </h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                      <h4><b>ID:</b> {{ id }}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <h4><b>E-mail:</b> {{ email }}</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h5><b>Fecha de Registro:</b> {{ dj|date:"d/m/Y H:i:s" }}</h5>
                  </div>
                  <div class="col-md-6">
                    <h5><b>Ultima Conexion:</b> {{ uc |date:"d/m/Y H:i:s" }}</h5>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                
              </div>
            </div>
        </div>
      </div>
          
 {% endblock %}
 {% endif %}

