{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Factura: RM-C-{{enc.id}}</title>
    <link rel="stylesheet" href="{% static 'base/css/recibo.css' %}" />
    <style type="text/css">
      @page {
        width: 21mm;
        size: auto;
        margin: 0mm;
      }
    </style>
  </head>
  <body onload="window.print()" class="receipt">
    <div class="col-md-1 col-sm-1 col-xs-1 col-xl-1">
      <center>
        <br /><br />
        <b class="text-center">Comercializadora Remetal, C.A</b><br />
        <small>Reporte de Compra de Materiales.</small><br />
      </center>
      <small>
        <br />
        <b>Factura No.:</b>&nbsp;&nbsp;RM-C-{{enc.id}}&nbsp;&nbsp;<br />
        <b>Fecha Fact:</b>&nbsp;&nbsp;{{enc.fecha_factura|date:"d/m/Y"}}&nbsp;&nbsp; <br />
        <b>Proveedor:</b>&nbsp;&nbsp;{{enc.proveedor}}<br />
        {% if enc.proveedor.tipo == 'Natural'%}
        <b>Rif:</b>&nbsp;&nbsp;V-{{enc.proveedor.rif}}<br />
        {% elif enc.proveedor.tipo == 'Juridico'%}
        <b>Rif:</b>&nbsp;&nbsp;J-{{enc.proveedor.rif}}<br />
        {% else %}
        <b>Rif:</b>&nbsp;&nbsp;E-{{enc.proveedor.rif}}<br />
        {% endif %}
        <b>Telefono:</b>&nbsp;&nbsp;{{enc.proveedor.telefono}}<br />
      </small>
      <table class="table table-condensed table-sm" width="10%">
        <thead>
          <th>Código</th>
          <th align="right">Cant.</th>
          <th align="right">P. Unit.</th>
          <th align="right">Sub Total</th>
          <th align="right">Total</th>
        </thead>
        <tbody>
          {% for obj in detalle %}
          <tr>
            <td>{{obj.producto.id}}</td>
            <td>{{obj.cantidad}}KG</td>
            <td>{{obj.precio_prv|floatformat:2}}$</td>
            <td>{{obj.sub_total|floatformat:2}}$</td>
            <td>{{obj.total|floatformat:2}}$</td>
          </tr>
          <tr>
            <td colspan="5">{{obj.producto}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="col-xs-1"></div>
      <div class="col-xs-11">
        <div class="pull-right">
          <table class="table-responsive dt-responsive nowrap">
            <tbody>
              <tr>
                <td>Sub Total:</td>
                <td align="right">{{enc.sub_total|floatformat:2}}$</td>
              </tr>
              <tr>
                <td>Gastos Adic:</td>
                <td align="right">{{enc.descuento|floatformat:2}}$</td>
              </tr>
              <tr>
                <td>Total:</td>
                <td align="right"><b>{{enc.total|floatformat:2}}$</b></td>
              </tr>
              {% if enc.tipo_pago is not None %}
              <tr>
                <td>Metodo de Pago:</td>
                <td align="right"><b>{{enc.tipo_pago}}</b></td>
              </tr>
              <tr>
                <td>Monto Pagado:</td>
                <td align="right"><b>{{enc.monto|floatformat:2}}$</b></td>
              </tr>
                  {% if cambio > 0 %}
                    <tr>
                      <td>Cambio:</td>
                      <td align="right"><b>{{cambio|floatformat:2}}$</b></td>
                    </tr>
                  {% endif %}
              {% else %}
              <tr>
                <td>Factura sin Valor Fiscal:</td>
                <td align="right"><b>Presuspuesto Valido por el Dia de {{enc.fc |date:"d/m/Y"}}</b></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <small class="pie">
          <br /><br />
          <center>
            Factura Generada por: {{enc.uc}} - Fecha: {{enc.fc |date:"d/m/Y"}}
            <br />
            <i
              ><b
                >Servicio de Reciclaje de Metales Ferrosos, No Ferrosos,
                Plasticos y Carton</b
              ><br />Direccion Mariche-Num de Tele. 0412-1234567</i
            >
          </center>
        </small>
      </div>
    </div>
  </body>
</html>
